<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>推特同步到新浪微博-Ver 1.0</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <ol>
    </ol>
    <ul>
        <li>请认证<a href="{{auth_url}}">推特</a>账号</li>
    </ul>
    <p><br>
      本项目源码地址 <a
        href="https://github.com/yfli/twitter-to-weibo-appengine">https://github.com/yfli/twitter-to-weibo-appengine</a><br>
    </p>
    <p>由于微博限制及敏感词等原因，部分信息可能会同步失败。<br>
    </p>
    <ol>
    </ol>
  </body>
</html>
